{% extends 'base.html' %}

{% block content %}
<h1>Crea Nuovo Piatto</h1>
<form method="post">
    <label for="categoria_id">Gioco</label>
    <select name="categoria_id" id="categoria_id" required>
        <option value="">Seleziona una categoria:</option>
        {% for category in categories %}
        <option value="{{ category['id'] }}">{{ category['nome'] }}</option>
        {% endfor %}
    </select>

    <label for="nome">Nome Piatto</label>
    <input name="nome" id="nome" required>

    <label for="prezzo">Prezzo (€)</label>
    <input name="prezzo" id="prezzo" type="number" min="1" required>

    <input type="submit" value="Crea Piatto">
</form>
{% endblock %}